body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input.cant-update,
textarea.cant-update {
  background: rgba(198, 203, 222, 0.45);
  cursor: not-allowed;
}

button,
input,
textarea {
  font-family: inherit;
}

button:hover {
  box-shadow: 0 0.625rem 2.5rem 0 rgba(198, 203, 222, 0.45);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

.red-cl {
  color: #d81e5b !important;
}

.pending {
  border-left: 3px solid turquoise;
}

.under-investigation {
  border-left: 3px solid yellow;
}

.resolved {
  border-left: 3px solid greenyellow;
}

.rejected {
  border-left: 3px solid red;
}

.blue-bg {
  background-color: #f4faff;
}

.blk-rd-gradient {
  background: linear-gradient(135deg, #484349, #d81e5b);
  min-height: 100vh;
}

.rect-red-button {
  background-color: #d81e5b;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 25px auto;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.circle-red-button {
  background-color: #d81e5b;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 15px;
  padding: 5px 25px;
  font-size: 60px;
  max-height: 80px;
  cursor: pointer;
  transform: scale(0.7);
}

.bottom-line-input {
  border: none;
  border-bottom: 2px solid #484349;
  font-size: 20px;
  margin: 48px auto 24px;
  width: 100%;
  font-family: inherit;
}

.bottom-line-input:focus {
  border-bottom: 2px solid #d81e5b;
  outline: none;
}

.form-error {
  position: relative;
  margin-bottom: -15px;
  margin-top: -15px;
  font-size: 13px;
  text-align: center;
}

.absolute-error {
  left: 0;
  right: 0;
  bottom: -10px;
  position: absolute;
}

.loading-svg-div {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 350;
  height: 50px;
  width: 50px;
}

.loading-svg-div svg {
  width: 100%;
  height: 100%;
}

.loading-svg-div circle {
  stroke: #d81e5b;
}

.light circle {
  stroke: #fff;
}

@media screen and (max-width: 800px) {
  .bottom-line-input {
    font-size: 18px;
  }
}
