.record-details-section {
  padding: 30px 5%;
  text-align: left;
  font-size: 14px;
}

.record-details-section-header {
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.record-details-section-type,
.record-details-section-status {
  color: #d81e5b;
}

.record-details-section-type {
  box-shadow: 0 0.625rem 2.5rem 0 rgba(198, 203, 222, 0.45);
  background: #fff;
  border-radius: 30px;
  padding: 5px 10px;
}
.record-details-section-status {
  display: inline-block;
  border: 2px solid #d81e5b;
  background: transparent;
  margin: 5px 0;
  padding: 5px;
  text-transform: capitalize;
}

.record-details-section-status-label {
  border: 2px solid #d81e5b;
  background: #d81e5b;
  color: #fff;
  padding: 5px;
}

.record-details-section-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  min-height: 120px;
}

.record-details-section-item-header {
  font-size: 24px;
  margin: 5px 0;
}

.record-details-section-line {
  border: 1px solid rgba(72, 67, 73, 0.2);
  width: 75%;
  margin: 0;
}

.record-details-section-item-data p {
  margin: 0;
}

.record-details-section-item-data {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.record-details-section-item-data img {
  width: 250px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-details-section-item-data-map {
  width: 90%;
  height: 250px;
}

.record-details-section-item-data-map canvas {
  position: relative !important;
  width: 100% !important;
}

@media screen and (max-width: 700px) {
  .record-details-section {
    text-align: center;
  }

  .record-details-section-line {
    margin: 0 auto;
  }

  .record-details-section-item-data {
    justify-content: center;
  }

  .record-details-section-item-data img {
    margin: 10px;
  }

  .record-details-section-header {
    font-size: 22px;
  }

  .record-details-section-item-header {
    font-size: 18px;
  }
}

.delete-modal-text {
  width: 100%;
  font-size: 20px;
  margin-bottom: 50px;
}

.delete-modal-options-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}

.edit-record-button-div {
  display: flex;
  justify-content: center;
}

.edit-record-button-div button {
  width: fit-content;
}

.edit-record-delete-button {
  border: 2px solid #d81e5b;
  color: #d81e5b;
  background: transparent;
  margin: 0;
}

.edit-record-update-button {
  margin: 0;
  margin-right: 20px;
}

.sev-rows {
  flex-wrap: wrap;
}

.one-row {
  width: 100%;
  margin: 5px 0;
}
